<body>
	<!-- main -->
	<div class="main-banner-2" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-sm-4 py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a class="" href="index.html">Natural Cosmetics</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
						  <label for="drop" class="toggle toogle-2">Menu</label>
						  <input type="checkbox" id="drop" />
						  <ul class="menu">
							<li><a routerLink="/home">Home</a></li>
							<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a routerLink="/about">About Us</a></li>
              <li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/prolist">ProductList</a></li>
              <li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/contact">Contact Us</a></li>
              <li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/admin">Manager</a></li>
						  </ul>
						</nav>
					  </div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->
	</div>
	<!-- //main -->
	<!-- page details -->
	
	<!-- //page details -->

	<!-- about  -->
	  <!-- About section-->
      <div class="breadcrumb-w3ls py-1">
        
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a routerLink="/home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/prolist">ProductList</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">ProductDetails</li>
        </ol>
    
</div>
  
    <div class="modal-body text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" *ngIf="product" >
            <!-- Portfolio Modal - Title -->
        
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{product.name}}</h2>
            <!-- Icon Divider -->
           
            <!-- Portfolio Modal - Image -->
             <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
           <img class="img-fluid" src="{{product.img}}" alt="" />
  </div>
             </div>
            <!-- Portfolio Modal - Text -->
            <p class="mb-6">Giá: ${{product.price}}</p>
            <p class="mb-5">{{product.desc}}</p>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
             
              Add to Cart
            </button>
            
          </div>
        </div>
      </div>
    </div>
  

	<!-- //testimonials -->

	<!-- footer -->
	<footer class="py-5">
    <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container pt-lg-5 pt-md-5 pt-sm-4 pt-4">
         <div class="row footer-agile-grids ">
            <div class="col-lg-6 col-md-12 wthree-left-right">
               <div class="row">
                  <div class="col-md-4 footer-header pl-0">
                    <h5><a routerLink="/home">Natural Cosmetics</a></h5>
                
                  </div>
                  <div class="col-md-8 footer-para">
                     <p>Melbourne,south Brisbane,<br>QLD 4101,Aurstralia.</p>
                     <p>+(000) 123 4565 32</p>
                     
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-12 wthree-left-right">
              
               <h4 class="pb-lg-3 pb-3 red">About Us</h4>
               <div class="address-para">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </div>
            </div>
           
         </div>
      </div>
   </section>
  </footer>
	<!-- //footer -->

</body>
