<body>
	<!-- main -->
	<div class="main-banner-2" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-sm-4 py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a class="" href="index.html">Daisy</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
						  <label for="drop" class="toggle toogle-2">Menu</label>
						  <input type="checkbox" id="drop" />
						  <ul class="menu">
							<li ><a routerLink="/home">Home</a></li>
							<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a routerLink="/about">About Us</a></li>
              <li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/prolist">ProductList</a></li>
							<li ><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/contact">Contact Us</a></li>
							<li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" routerLink="/admin">Manager</a></li>
						  </ul>
						</nav>
					  </div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->
	</div>
	<!-- //main -->
	<!-- page details -->
	<div class="breadcrumb-w3ls py-1">
	
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">
					<a routerLink="/home">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
			</ol>
		
	</div>
	<!-- //page details -->

	<!-- contact  -->
	<section class="contact py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 font-weight-bold">Contact Us <span>Send Message</span></h3>
			<div class="row">
				<!-- contact form -->
				<div class="col-lg-6 contact-us1-bottom w3layouts-w3ls">
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name" name="name" required="">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" name="email" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
						</div>
						<button type="submit" class="btn">Submit</button>
					</form>
				</div>
				<!-- //contact form -->
				<!-- contact address -->
				<div class="col-lg-6 home-radio-clock mt-lg-0 mt-5">
					<h3 class="tittle text-dark mb-5 font-weight-bold">Get In Touch</h3>
					<div class="row">
						<div class="col-4">
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Address</li>
								<li class="my-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i>Call Us</li>
								<li><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Opening Time</li>
							</ul>
						</div>
						<div class="col-8">
							<div class="home-radio-clock-right">
								<ul class="list-unstyled">
									<li>4978 Diamond Circle,
										<span>NJ 07087, USA</span></li>
									<li class="my-4">(012) 123-456-78
										<span>(012) 123-456-78</span>
									</li>
									<li>Mon-Sat:<span>07h-16h</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //contact address -->
			</div>
		</div>
	</section>
	<!-- map -->
	<div class="map">


     <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d325607.68088841805!2d105.9754680015257!3d20.92504267060405!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1589302297395!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
	<!-- //map -->
	<!-- //contact -->

	<!-- footer -->
	<footer class="py-5">
    <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container pt-lg-5 pt-md-5 pt-sm-4 pt-4">
         <div class="row footer-agile-grids ">
            <div class="col-lg-6 col-md-12 wthree-left-right">
               <div class="row">
                  <div class="col-md-4 footer-header pl-0">
					<h5><a routerLink="/home">Daisy</a></h5>
                
                  </div>
                  <div class="col-md-8 footer-para">
                     <p>4978 Diamond Circle,<br>NJ 07087, USA.</p>
                     <p>(012) 123-456-78</p>
                     <p>(012) 123-456-78</p>
                     
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-12 wthree-left-right">
              
               <h4 class="pb-lg-3 pb-3 red">About Us</h4>
               <div class="address-para">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </div>
            </div>
           
         </div>
      </div>
   </section>
  </footer>
	<!-- //footer -->

</body>
