<div class="card-header"><i class="fas fa-table mr-1"></i>Chi tiết sản phẩm</div>

    <div class="container py-xl-5 py-lg-3">
     
        <div class="row">
            <!-- contact form -->
            <div class="col-lg-6 contact-us1-bottom w3layouts-w3ls" *ngIf="product">
                <form>
                  <label>ID</label>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Name" name="id" required="" disabled [(ngModel)]="product.id" >
                    </div>
                    <label>Tên sản phẩm</label>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Name" name="name" required="" disabled [(ngModel)]="product.name">
                    </div>
                    <label>Giá</label>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Price" name="price" required="" disabled [(ngModel)]="product.price">
                    </div>
                    <label>Ảnh</label>
                    <div class="form-group">
                        <img [src]="product.img" width="450" >
                    </div>
                    
                    
                  <label>Mô tả</label>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description" name="message" required="" disabled [(ngModel)]="product.desc"></textarea>
                    </div>
                    
                </form>
            </div>
            <!-- //contact form -->
            <!-- contact address -->
           
        </div>
    </div>



